@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Lobster&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    
    font-family: 'Heebo', sans-serif;
    font-family: 'Lobster', sans-serif;
    font-family: 'Varela Round', sans-serif;
    /* color: white; */
    
   
}

.prog{
    border-bottom: 2px solid rgba(90, 220, 78, 0.807);
     /* border-top: 2px solid rgba(90, 220, 78, 0.807);  */
    background-color: #262626;
    border-radius: 5px;
}
 main{
    background-color: white;
    
} 

  header{
    
    flex-wrap: wrap; 
    background-color: #333;
}  
.navbar {
    display: flex;
    flex-direction: column;
    
    /* align-items: center; */
    justify-content: end; 
}

.navbar h2 {
    
    color: white;
    margin: auto;
    /* margin-left: px; */
    font-family: 'Heebo', sans-serif;
    font-family: 'Lobster', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    margin: auto;
    padding: 12px 15px;
    text-decoration: none;
    
}

.navbar a:hover {
    /* background-color: #272626; */
    font-weight: bolder;
    color: rgba(90, 220, 78, 0.807);
}
.logo{
    filter: invert(1);
    height: 80px;
    width: 80px;
    margin-left: -19px;
    margin-top: -19px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.logo{
    border: 2px solid black;
}
.logo:hover{
    border: 2px solid rgba(90, 220, 78, 0.807) ;
}
.searchbar{
    float: right;
    height: 30px;
    width: 30px;
}
.heading_in_nav{
    margin: 20px;
    margin-bottom: -30px;
}
.links_in_nav{
    margin: 30px;
}
.links_in_nav input{
    
    margin-top: 5px;
    height: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid  rgba(49, 152, 40, 0.807);
    outline: none;
}
.button-container {
    
    margin: 20px;
}

.button {
    padding: 5px 10px;
    font-size: medium;
    cursor: pointer;
    margin: 10px;
    background-color:rgba(90, 220, 78, 0.807) ;
    outline: none;
    text-decoration: none;
    border-radius: 20px;
}
.button:hover{
    background-color: rgba(12, 107, 4, 0.807);
    font-weight: bold;
}
hr{
    color:rgba(49, 152, 40, 0.807);
}
/* Style for the content */
.content {
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 20px;
    display: none;
}
.content h3{
    background-color: rgba(77, 201, 66, 0.807);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    
    margin-bottom: 10px;
    margin-left: -10px;
    display: inline-block;
}
.content h4{
    background-color: rgba(77, 201, 66, 0.807);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    
    margin-bottom: 10px;
    margin-left: -10px;
    display: inline-block;
}
.content li{
    margin-left: 20px;
}
.content a{
    text-decoration: none;
    color:rgba(49, 152, 40, 0.807);
}
.content a:hover{
    color: rgba(12, 108, 3, 0.949);
    font-weight: bold;
}
.content b{
    color:  rgba(30, 147, 20, 0.949);
}
footer {
    display: flex; /* Use flexbox to arrange children side by side */
    justify-content: space-between; /* Spread the children out */
    /* align-items: center; Center children vertically */
    background-color: #333;
    color: white;
    padding: 20px; /* Add padding for spacing */
  }
  footer h3{
    color: rgba(90, 220, 78, 0.807);
  }
  
  /* Style individual sections */
  .abt, .hod, .social,.location{
    flex: 1; /* Distribute available space equally among the sections */
    margin: 10px; /* Add margin for spacing */
  }
  
footer a{
    text-decoration: none;
    filter: invert(1);
    margin: 10px;
    size: 10px;
}
footer a:hover{
    size:15px;
    
}
